@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300;400;500;700&display=swap'); 
 
 
 
body {
  background-color: #111;
  color: #fff;
  font-family: 'JetBrains Mono', monospace;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

html {
  scroll-behavior: smooth;
}