.projects-section {
    padding: 95px 20px;
    text-align: center;
   
}

.projects-section h1 {
    text-align: center; 
   
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.code{
    width: 100%;
}

.btn:hover{
    background-color: #111;
    color: white;
}

.filter-buttons {
    margin: 20px;
}

.filter-buttons button {
    padding: 10px;
    margin: 5px;
    background-color: #00ff99;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.projects-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.project-card {
    background-color: #111;
    border-radius: 10px;
    width: 300px;
    margin: 15px;
    padding: 15px;
    text-align: left;
    box-shadow: 0px 0px 10px #3282B8;
    transition: transform 0.3s ease;
}

/* Hover Effect */
.project-card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 0px 20px #3282B8;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin-top: 10px;
    color: #111;

}

.tag {
    background-color: #00ff99;
    padding: 5px;
    border-radius: 5px;
    font-size: 12px;
}

@media (max-width: 1000px) {

  .projects-container {
    flex-direction: column;
    align-items: center;
  }

  .project-card {
    width: 90%;
    max-width: 400px;
    margin: 10px 0;
      padding: 10px;
    box-shadow: 0 0 5px #3282B8;
  }

  .filter-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .filter-buttons button {
    flex: 1 1 auto;
    min-width: 100px;
    margin: 5px 10px;
      padding: 8px;
    font-size: 14px;
  }

  .projects-section {
    padding: 60px 10px;
    padding-top: 145px;
    background: #111 !important;
    z-index: 10;
    /* position: relative;
    filter: none !important;
    backdrop-filter: none !important; */
  }

  .projects-section h1 {
    font-size: 2rem;
  }

}
