
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: #19192A;
    position: fixed;
    z-index: 100;
    /* margin-left: 50px; */
    width: 95%;
    border-radius: 20px 65px;
}


.logo {
    font-size: 24px;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

nav ul li a:hover{
    color: #00ffc8;
}

.github-btn {
    padding: 10px 25px;
    border: 2px solid #00ffc8;
    color: #00ffc8;
    text-decoration: none;
    border-radius: 10px;
    /* margin-left: 30px; */
}

.github-btn:hover{
    background-color: #00ffc8;
    color: black;
}