.skills-section {
    background-color: #111;
    color: white;
    text-align: center;
    padding: 70px 20px;
    padding-bottom: 130px;
}

.skills-title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.skills-subtitle {
    font-size: 1.2rem;
    color: #aaa;
    margin-bottom: 30px;
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    max-width: 1000px;
    margin: 0 auto;
}


.skills-card {
    background-color: #171721;
    border: 1px solid #00ffc8;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 255, 200, 0.2); 


}


.category-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 15px;
    color: #00ffc8;
}

.skills-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.skill-item {
    background-color: #222;
    padding: 8px 15px;
    border-radius: 5px;
    font-size: 1rem;
    color: white;
    border: 1px solid #00ffc8;
    transition: 0.3s;
}

.skill-item:hover {
    background-color: #00ffc8;
    color: black;
}